<div class="contacts jumbotron">
  <h1>contact.</h1>
  <hr>
</div>
<div class="container">
  <div class="col-md-12 col-sm-12">

    <section class="no-padding" id="portfolio" style="margin-top: 100px;">
      <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <hr class="primary" style="margin-bottom: 50px;">
          <p>
            phillbert.cheng@yahoo.com
          </p>
          <div align="center" class="socialbtns">
            <ul>
              <li><a href="https://github.com/PJC-1" class="fa fa-lg fa-github"></a></li>
              <li><a href="https://www.linkedin.com/in/phillbertcheng" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://www.instagram.com/maxstaagram/" class="fa fa-lg fa-instagram"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
