<div class="projects">
  <h1 class="titles">projects.</h1>
  <br>
    <section class="no-padding" id="portfolio">
      <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <hr class="hrabout primary" style="margin-bottom: 15px;">
            <p class="projectsp">
              "Whatever good things we build end up building us."<br>- Jim Rohn
            </p>
          <hr class="primary" style="margin-bottom: 15px;">
        </div>
      </div>
    </section>
</div>

<div class="container" id="projects">
		<div class="row project" id="ga-extend">
			<h2 class="text-center">Argos</h2>
      <br>
      <br>
			<div class="col-md-6 ">
				<img src="http://s19.postimg.org/4eq7je2g3/news_feed_pic.png">
			</div>
			<div class="col-md-6 project-description">
				<p>Argos is a Social Media Application made for Pet Owners. Argos' user is the dedicated, loving, and compassionate pet owner. Owners' love for their pets is unique and my app delivers a product that enables users to share their special relationship with their critters while helping to organize some of the more tedious aspects of being a pet owner. Users can employ the “Argos Calendar” to set important dates like daily walks or vet visits.</p>
				<p><strong>FEATURES: </strong>Users can create a profile for their pets. With Argos users can add photos to their pet’s profile, and employ a calendar that allows them to set important dates to help organize busy schedules or upcoming events. Lastly, Argos also features a news-feed that keeps the user up to date with followers.</p>
				<p><strong>TECHNOLOGIES: </strong>Ruby on Rails, Bcrypt,  PostgreSQL database, Bootstrap, Cloudinary</p>
        <br>
				<div class="col-xs-6 text-center">
					<a href="https://argosapp.herokuapp.com/">Try Argos!</a>
				</div>
				<div class="col-xs-6 text-center">
					<a href="https://github.com/PJC-1/argos">GitHub</a>
				</div>
			</div>
		</div>
    <br>
    <br>
    <br>
    <div class="row project" id="ga-extend">
      <h2 class="text-center">Pola-Snap</h2>
      <br>
      <br>
      <div class="col-md-6 ">
        <img src="http://s19.postimg.org/e6lhfihur/image.png">
      </div>
      <div class="col-md-6 project-description">
        <p>Pola-Snap is a Photo app that allows users to manage their photos.</p>
        <p><strong>FEATURES: </strong> Users can archive their photographs, “like” other users’ photos, comment on those photos, and enjoy searching for pictures by “tag name”.</p>
        <p><strong>TECHNOLOGIES: </strong>Ruby on Rails, Devise, PostgreSQL database, Cloudinary, Bootstrap</p>
        <br>
        <div class="col-xs-6 text-center">
          <a href="https://polasnap.herokuapp.com/">Try Pola-Snap</a>
        </div>
        <div class="col-xs-6 text-center">
          <a href="https://github.com/PJC-1/photo_app">GitHub</a>
        </div>
      </div>
    </div>
    <br>
    <br>

	</div>
