
    <div class="homepage">
      <h1 class="titles">phill_dev.</h1>
      <br>
      <hr class="primary" style="margin-bottom: 50px;">
      <p class="homep">
        full stack web developer
      </p>
      <hr class="primary" style="margin-bottom: 50px;">
    </div>
