
    <div class="homepage">
      <h1 class="titles">phill_dev.</h1>
      <br>
        <section class="no-padding" id="portfolio">
          <div class="container-fluid">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <hr class="hrabout primary" style="margin-bottom: 15px;">
                <p class="homep">
                  full stack web developer
                </p>
              <hr class="primary" style="margin-bottom: 15px;">
            </div>
          </div>
        </section>
    </div>
