
    <div class="homepage jumbotron">
      <h1>phill_dev.</h1>
      <br>
      <hr class="primary" style="margin-bottom: 50px;">
      <p>
        full stack web developer
      </p>
      <hr class="primary" style="margin-bottom: 50px;">
    </div>
