<div class="abouts">
  <h1 class="aboutstitle">about_phill.</h1>
  <section class="no-padding" id="portfolio">
    <div class="container-fluid">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <hr class="primary" style="margin-bottom: 50px;">
        <h3 class="aboutp">  “True wisdom comes to each of us when we realize how little we understand
          about life, ourselves, and the world around us.”
          - Socrates</h3>
          <hr class="primary" style="margin-bottom: 50px;">
        </div>
      </div>
    </section>
</div>

<br>
<br>
<br>

<div class="aboutclass"id="container">
  <div id="leftcol">
    <p><img src="http://s19.postimg.org/ca0qy7c2r/gapicture.jpg" alt="picture of phill">Hi, my name is Phill, I am a problem solver who will bring meaningful web apps to life that inspire passionate followings.
    <p>I was a letter carrier turned programmer, after teaching myself javascript for a couple of months I decided to apply to General Assembly's  12 week Web Development Immersive program. At General Assembly I studied to be a full-stack Web Developer and am now proficient in an array of relevant technologies such as: Javascript, MongoDB, HTML, Ruby on Rails, Angular, CSS, and Git Hub.
  <br>
  </div>
  <div id="rightcol">
    <p>What I love most about building web applications is that it requires diverse types of intelligence and approaches. Most importantly, it requires individuals to come together in order to yield something great. General Assembly provided me with both the projects and the learning environment that promoted independence, the ability to solve problems, and the skill to collaborate with different individuals in web development.
    <p>I am currently living in Walnut Creek with my wife Sherry and our dog Maximilian. I enjoy cooking, photography, hiking, and dog-training.
  </div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="col-md-12 col-sm-12">

    <section class="no-padding" id="portfolio" style="margin-top: 100px;">
      <div class="container-fluid">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <hr class="primary" style="margin-bottom: 50px;">


          <div class="col-lg-12 text-center">
               <i class="fa fa-envelope-o fa-3x sr-contact"></i>
               <p>phillbert.cheng@yahoo.com</p>
          </div>

          <div align="center" class="socialbtns">
            <ul>
              <li><a href="https://github.com/PJC-1" class="fa fa-lg fa-github"></a></li>
              <li><a href="https://www.linkedin.com/in/phillbertcheng" class="fa fa-lg fa-linkedin"></a></li>
              <li><a href="https://www.instagram.com/maxstaagram/" class="fa fa-lg fa-instagram"></a></li>
            </ul>
          </div>
          <br>
          <br>
        </div>
      </div>
    </section>
  </div>
</div>
