<div class="abouts jumbotron">
  <h1>about_phill.</h1>
  <hr>
  <br>
  <p>
    “True wisdom comes to each of us when we realize how little we understand
    about life, ourselves, and the world around us.”
    - Socrates
  </p>
</div>
<div class="container">
  <div class="col-md-12 col-sm-12">

    <section class="no-padding" id="portfolio" style="margin-top: 100px;">
      <div class="container-fluid">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">"Hi, my name is Phill, I am a problem solver who will bring meaningful web apps to life that inspire passionate followings."</h2>
          <hr class="primary" style="margin-bottom: 50px;">
        </div>
      </div>
    </section>

</div>
